@model WebAppMVC.Models.CalculatorTwoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(Model => Model.Result)
    </div>
    <div>
        <button @Html.Value("1")>+</button>
        <button @Html.Value("2")>-</button>
        <button @Html.Value("3")>/</button>
        <button @Html.Value("4")>*</button>
        <button data-number>1</button>
        <button data-number>2</button>
        <button data-number>3</button>
        <button data-number>4</button>
        <button data-number>5</button>
        <button data-number>6</button>
        <button data-number>7</button>
        <button data-number>8</button>
        <button data-number>9</button>
        <button data-number>0</button>
    </div>
}


